.header {
    margin: auto;
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-container {
    width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-container .header-logo img {
    width: 140px;
}

.header .header-container .header-menu .header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header .header-container .header-menu .header-ul .header-li a {
    transition: all 0.3s ease;
}

.header .header-container .header-menu .header-ul .header-li a:hover {
    color: orange;
}